@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: 'Comfortaa', cursive;
}

.covid-live {
  padding: 5rem;
  background: #3e3e3e;
  height: 100vh;
  overflow-y: scroll;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.card {
  padding: 2rem 1rem;
  border: 0;
  border-radius: 0;
  margin: 1.5rem 1rem;
}
.card p {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.card p span {
  font-size: 2rem;
}
.card h3 {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 0 0 white;
  color: #fff;
  text-transform: uppercase;
}
.card-state {
  background-color: #5c6cc5;
}
.card-recoverd {
  background-color: #45a549;
}
.card-confirmed {
  background-color: #bfb131;
}
.card-death {
  background-color: #f56538;
}
.card-active {
  background-color: #5c6cc5;
}
.card-updated {
  background-color: #a09a61;
}

select.form-control {
  max-width: 200px;
  font-size: 1.4rem;
  background-color: transparent;
  color: #fff;
  padding: 0.6rem 2rem;
}

.links {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: underline;
}

table th, table td {
  font-size: 1.6rem;
  text-align: left;
  padding: 1rem 2rem !important;
}

html, #root, body {
  height: 100%;
}